*CMakeCache.txt
*CMakeFiles
*CMakeScripts
*Makefile
*cmake_install.cmake
*install_manifest.txt
*compile_commands.json
externalSort/externalSort
externalSort/files/*
externalSort/tmp/*
pFactorial/pFactorial
pFactorial/files/*
